.button-page-box-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button-page-box-show-button {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  background-color: #e4e4e5;
  transition: 0.4s all ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-page-box-show-button:hover {
  background-color: #212121;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.button-page-box-show-button-active {
  background-color: #212121;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.button-page-code-editor-close {
  margin-top: 20px;
  padding: 15px;
  border: none;
  background-color: transparent;
  color: red;
  font-weight: bold;
  transition: 0.4s ease all;
  border-radius: 50px;
  cursor: pointer;
}

.button-page-code-editor-close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
