@import url("https://fonts.googleapis.com/css2?family=Anta&family=Roboto+Slab:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Anta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
button {
  font-family: "Anta", sans-serif;
}

.animation {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.7s 0.2s forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
